@font-face {
    font-display: fallback;
    font-family: "DMSerifDisplay-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("@fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-display: fallback;
    font-family: "SourceSansPro-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("@fonts/SourceSansPro-Regular.ttf") format("truetype");
}
